[Unit]
Description=Gunicorn in the backend 
After = network.target 
After=nginx.service

[Service]
User=serge
Group=serge
PIDFile=/home/serge/.gunicorn.pid
Type=simple
ExecStart=/home/serge/prog/nasa-space-apps-2025/src/backend/start.sh
ExecReload=/home/serge/prog/nasa-space-apps-2025/src/backend/restart.sh $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target