[Unit]
Description=Gunicorn in the backend 
After = network.target 
After=nginx.service

[Service]
PIDFile=/run/gunicorn.pid
Type=simple
ExecStart=/home/serge/prog/nasa-space-apps-2025/src/backend/start.sh
ExecReload=/home/serge/prog/nasa-space-apps-2025/src/backend/restart.sh $MANPID
ExecStop=/bin/kill -s TERM $MANPID
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target